body{
    font-family: $primary-font;
    font-size: 16px;
    line-height:1;
    color: $gray-light;
    max-width: 1920px;
    margin: 0 auto;
}
input, button, textarea, select{
    font-family: 'Open sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 15px;
}
.second-font{
    font-family: $secondary-font;
    color: $gray;
}

.btn{
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Open sans',sans-serif;
    height: 55px;
    padding: 0 70px;
    border-radius: 6px;
    &--primary{
        background-color: $blue-color;
        text-decoration: none;
    }
}
h2,h3,h4,h5{
    color: $gray;
}
.heading{
    font-size: 36px;
    line-height: lineH(56,36);
    font-weight: 800;
    font-family: $secondary-font;
    margin-bottom: 30px;
}
.title{
    font-size: 22px;
    font-weight: 800;
    font-family: $secondary-font;
    color: $gray;
    line-height: lineH(35, 22);
    margin-bottom: 20px;
}
.text{
    font-size: 18px;
    line-height: lineH(34, 18);
}
.text--small{
    font-size: 14px;
}